.Card__Container {
    border-radius: 10px;
    margin: 20px 0px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: hsl(225, 100%, 94%, 0.4);
}

.Card__Text {
    flex-grow: 1;
    text-align: left;
}

.Card__Text h3 {
    font-size: 15px;
    font-weight: 900;
    color: #1f2f56;
}

.Card__Text p {
    color: #7280a7;
    font-weight: 500;
}

.Card__Link {
    font-weight: 700;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    cursor: pointer;
}
.Card__Link:hover {
    text-decoration: none;
}
