.App {
    text-align: center;
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    padding-top: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    margin: 0;
}
